body {
  --playback-logo-image: url('./../img/logo.png');
}

.logo-container {
  display: block;
  text-align: center;
  width: 100%;
}

.logo-container img {
  display: block;
  margin: 0 auto;
}

body {
  --playback-logo-image: url('./../img/logo.png');
}
cast-media-player {
  --theme-hue: 100;
  --progress-color: rgb(0, 255, 0);
  --splash-image: url('./../img/logo.png');
  /* --splash-size: contain; */
  --splash-size: 500px;
  --splash-position: center;
  --logo-image: url('./../img/logo.png');
  /* --logo-size: contain; */
  --logo-size: 500px;
  --logo-position: center;
}